<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @classroom.name %>
</p>

<%if can? :update, Classroom %>
<%= link_to 'Edit', edit_classroom_path(@classroom) %> 
<%end%>
<%= link_to 'Back', classrooms_path %>
